{% extends "base_generic.html" %}

{% block content %}

<div class="container-fluid">

  <div class='row'>
    <div class='col-lg-6'>
      {% if temperature_graph %}
        <div>
          {{ temperature_graph|safe }}
        </div>
      {% endif %}
    </div>

    <div class='col-lg-6'>
      {% if humidity_graph %}
        <div>
          {{ humidity_graph|safe }}
        </div>
      {% endif %}
    </div>
  </div>

  <div class='row'>
    <div class='col-lg-6'>
      {% if eCO2_graph %}
        <div>
          {{ eCO2_graph|safe }}
        </div>
      {% endif %}
    </div>

    <div class='col-lg-6'>
      {% if TVOC_graph %}
        <div>
          {{ TVOC_graph|safe }}
        </div>
      {% endif %}
    </div>
  </div>

</div>

{% endblock %}
